/* progressive image CSS */
a.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

a.progressive:not(.replace) {
  cursor: default;
}

a.progressive img {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  border: 0 none;
}

a.progressive img.preview {
  -webkit-filter: blur(2vw);
  filter: blur(2vw);
}

a.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: opacity;
  -webkit-animation: reveal 1s ease-out;
  animation: reveal 1s ease-out;
}

@-webkit-keyframes reveal {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes reveal {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
